*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main__header {
  background-color: cyan; 
  // box-shadow: ;

  .main__header__themeSection {
    display: flex;
    justify-content: space-between;
    padding: 2rem .5rem;

    .main__header__heading {
      font-size: 1.5rem;
    }

    .main__header--themeToggle {
      all: unset;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .lightMoon {
        margin-right: .5rem;
      }

      .darkMoon {
        display: none;
      }
    }
  }
}