@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.detail__header__themeSection {
  display: flex;
  justify-content: space-between;
  padding: 1.7rem clamp(1rem, 5vw, 3rem);
  box-shadow:  0 0 10px 5px rgba(173, 167, 167,0.1), 0px 15px 10px -15px rgba(173, 167, 167,.3) !important;

  .detail__header__heading {
    font-size: clamp(1rem, 0.8005475rem + 1.3309vw, 2rem);
  }

  .detail__header--themeToggle {
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;

    .moon {
      margin-right: .5rem;
    }
  }
}
.detail__backBtn {
  margin-block:2rem;
  margin-inline-start: 2rem;
  .backBtn {
    all: unset;
    width: 85px;
    height: 35px;
    padding-inline-end: 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    font-size: 13px;
    .arrow-back {
      width: 30% !important;
    }
  }
}
.detail__country {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 7vw;
  font-size: clamp(.875rem, .8333975rem + .1849vw, 1rem);
  @media (min-width:992px) {
  flex-direction: row;
  }
  .detail__countryFlag {
   .country-flag {
    width: 100%;
   }
  }
  .detail__country1, .detail__country2 {
  // margin: 7vh;
  line-height: 2.5;
  text-align: start;
  width: 100%;
   p :first-child {
    font-weight: 600;
   }
   .countryName {
    font-size: 1.7rem;
    font-weight: 900;
   }
  }
}