@use '_mixins';
@use 'variables' as var;


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  color: hsla(0, 0%, 52%,0.5);
  font-weight: 400;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.main__header {

  .main__header__themeSection {
    display: flex;
    justify-content: space-between;
    padding: 1.7rem clamp(1rem, 5vw, 3rem);

    .main__header__heading {
      font-size: clamp(1rem, 0.8005475rem + 1.3309vw, 2rem);
    }

    .main__header--themeToggle {
      all: unset;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;

      .lightMoon {
        margin-right: .5rem;
      }

      .darkMoon {
        display: none;
      }
    }
  }

  .main__header__searchSection {
    margin: 1rem clamp(1rem, 5vw, 3rem);
    margin-top: 2rem;
    @media (min-width:992px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .main__header__inputContainer {
      width: 100%;
      height: 50px;
      padding: 1rem;
      display: flex;
      border-radius: 5px;
      @media (min-width:992px) {
        width: 30%;
      }
     

      form{
        display: flex;
        #inputCountry {
          border: none;
          outline: none;
          margin-left:2.5rem ;
          width: calc(100% - 2rem);
          height: 20px;
          font-size: clamp(.875rem, .8333975rem + .1849vw, 1rem);

        }

      }
    }
    .main__header__dropdownContainer {
      width: 210px;
      font-size: clamp(.875rem, .8333975rem + .1849vw, 1rem);
      margin-top: 3rem;
      position: relative;
      @media (min-width:992px) {
        margin-top: 0rem !important;
      }
    
      .dropdown-btn {
        all: unset;
        display: flex;
        justify-content: space-around;
        width: calc(100% - 1.6rem);
        padding: .8rem;
        cursor: pointer;
        text-align: center;
        border-radius: 5px;
        font-weight: 600;
        -webkit-tap-highlight-color: transparent;
        .arrow {
          transition: .5s;
        }
      }

      .dropdown-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: .3rem;
        list-style-type: none;
        border-radius: 5px;
        cursor: pointer;
        height: 0px;
        overflow: hidden;
        padding-block: 0rem;
        position: absolute;
        z-index: 10;
        -webkit-tap-highlight-color: transparent;
        @media (min-width:992px) {
         transition: .2s;
        }
      
        li {
          padding-inline-start: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: 600;
          height: 10vh !important;
          &:hover {
            opacity: .8;
          }
          @media (min-width:992px) {
            height: 41px;
           }
        }
      }
    }
  }
  .body-blur {
    transition: .5s all;
  }
}

//section-1
.main__section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem clamp(2rem, 5vw, 3rem);
    gap: 4rem;

    @media (max-width:767px) {
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
    }
}
.countryContainer {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  transition: .3s;
  width: min(100%, 287px);
  @media (max-width:760px) {
    width: min(100%, 420px ) !important;
  }
  @media (min-width:760px) and (max-width:850px) {
    width: min(100%, 313px);
  }
  .countryFlagContainer {
    box-shadow: 0px 0px 7px 5px #a28e8e08;
    width: 100%;
    .countryFlag {
      display: block;
      object-fit: cover;
      width: 100%;
      max-height: 243px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      @media (min-width:760px) {
        height: 191px;
      }
    }
  }
 

  .countryDetails {
    height:210px;
    padding: 1.7rem 1.5rem 2.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .countryName {
      font-weight: 900;
      font-size: clamp(1.3rem, 1.233445rem + 0.2958vw, 1.5rem);
    }
    p {
      font-weight: 400;
      font-size: 14px;
      span {
        font-weight: 600;
        margin-right: 0.3rem;
      }
    }
  }
}

.main__buttonSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 2rem;

  .load-more-btn {
    all: unset;
    padding-inline: 1rem;
    padding-block: 0.6rem;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 1px solid gray;
    &:active {
      scale: 0.9;
      transition: .1s;
    }
  }
}

// js
.dropdown-toggle-desk {
  height: 205px !important;
}

.dropdown-items-tab {
  @media (max-width:992px) {
    width: 90vw !important;
    height: 50vh !important;
    top: -10px;
  }
  li {
  @media (max-width:992px) {
    border-bottom: 1px solid rgb(214 207 207 / 18%);
  }
  }
}
.bg-overlay-tab {
  @media (max-width:992px) {
    position: absolute ;
    top: 0 ;
    left: 0 ;
    width: 100%;
    height: 100vh;
    z-index: 5 ;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.6);
    // transition: .5s;
  }
}
.error_display_text {
  color: red;
  font-weight: 700;
  margin: auto;
  margin-top: 20vh;
  font-size: 1.3rem;
}
